@import "tailwindcss";


.table-header {
  @apply text-left text-gray-600 font-normal text-[16px] py-2;
}

.task-priority,
.task-title {
  @apply py-1;
}

.createTaskScrollbar {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.updateBtn,
.deleteBtn {
  @apply px-5 py-2 text-white font-semibold rounded cursor-pointer;
}

.font-cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.signup-heading{
  font-weight: 700;
}

.update-profile {
  font-weight: 600;
}

.profile-heading{
  font-weight: 600;
}

.login-btn , .signup-btn{
    @apply rounded-2xl text-center font-bold w-[50%] h-full;
}

#email , #password , #name{
  @apply border px-3 py-2 rounded-2xl border-gray-500 outline-none mb-3;
}